@model IEnumerable<CitricosCaribe.Models.VehiculoAsignado>

@{
    ViewData["Title"] = "Index";
}

<h1>Vehiculos Asignados</h1>

<p>
    <a asp-action="Create">Asignar un vehiculo a un trabajador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trabajador.CI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehiculoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehiculoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehiculoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
