@model IEnumerable<CitricosCaribe.Models.Solicitud>

@{
    ViewData["Title"] = "Index";
}

<h1>Solicitudes</h1>

<p>
    <a asp-action="Create">Registrar Solicitud</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                Fecha de Solicitud
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presupuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOferta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presupuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {item.EmpresaID,item.ProductoID,item.FechaOferta}) |
                @Html.ActionLink("Details", "Details", new { item.EmpresaID,item.ProductoID,item.FechaOferta}) |
                @Html.ActionLink("Delete", "Delete", new { item.EmpresaID,item.ProductoID,item.FechaOferta })
            </td>
        </tr>
}
    </tbody>
</table>
